@model List<MovieLibrary.Models.Movie>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MovieListings</h2>

<p>
    @Html.ActionLink("Back To Home", "Index", "Movie")
</p>
<div>
<table class="grid">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "GetMovieDetailsFromMovieId", "Movie", new { MovieId = item.MovieId },null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
    </tr>
}

</table>
    </div>
