@{
    ViewBag.Title = "MovieHome";
}

<h1>MovieHome</h1>

<h2>Looking for a movie!!?!!</h2>
@*<input id="btnMovie" type="button" value="Take Me To Movie" onclick="location.href='@Url.Action("MovieListing","Movie")'" />*@


@using (Html.BeginForm("GetMoviesFromKeyword","Movie",FormMethod.Get))
{
    @Html.TextBox("movieKeyword")
    <input type="submit" value="Find Me Movies!" />
}