@{
    ViewBag.Title = "MovieHome";
}

<h1>MovieHome</h1>
<h2>MovieHome</h2>
<h3>MovieHome</h3>

<input id="btnMovie" type="button" value="Take Me To Movie" onclick="location.href='@Url.Action("MovieListing","Movie")'" />